<link href="
https://cdn.jsdelivr.net/npm/fontsource-cairo@4.0.0/index.min.css
" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center ">
    <!-- <div>
      <button class="logout d-flex justify-content-center align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
          <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
        </svg>
        <p style="margin: 0px; margin-left: 10px">Log out</p>
      </button>
    </div> -->
    <div class="col mt-2 mb-4">
      <div class="mt-2 glass-container">
        <img src="../../../assets/images/emp.jpg" alt="" />
        <div>
          <p style="font-weight: 300; margin-bottom: 0px; color: #ffffff">Mohamed Najjar</p>
          <p class="email">najjarmohamed443&#64;mail.com</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3" style="flex-direction: column;">
      <div class="button d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-circle-plus"></i>
        <p style="margin:0 10px; font-size:20px; ">Add a collaborator</p>
      </div>
      <div class="collaborators-box d-flex justify-content-between">
        <div *ngFor="let collaborator of collaborators" class="collaborator-card">
          <img [src]="collaborator.image" alt="User Image" class="collaborator-image">
          <div class="collaborator-username">{{ collaborator.username }}</div>
          <div class="collaborator-email">{{ collaborator.email }}</div>
        </div>
      </div>

    </div>

    <div class="col-lg-9 mt-4">
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="d-flex  justify-content-center align-items-center">
            <div class="example-container">
              <h2>To do</h2>

              <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todo"
                [cdkDropListConnectedTo]="[inProgressList, doneList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                @for (item of todo; track item) {
                  <div class="example-box" cdkDrag>
                    <div class="priority-circle" [style.background-color]="getPriorityColor(item.priority)"></div>
                    <p class="text-task">{{item.title}}</p>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="d-flex  justify-content-center align-items-center">
            <div class="example-container">
              <h2>In progress</h2>

              <div
                cdkDropList
                #inProgressList="cdkDropList"
                [cdkDropListData]="inProgress"
                [cdkDropListConnectedTo]="[todoList, doneList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                @for (item of inProgress; track item) {
                  <div class="example-box" cdkDrag>
  <div class="priority-circle" [style.background-color]="getPriorityColor(item.priority)"></div>
  <p class="text-task">{{item.title}}</p>
</div>
                }
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 ">
          <div class="d-flex  justify-content-center align-items-center">
            <div class="example-container">
              <h2>Done</h2>

              <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[todoList, inProgressList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                @for (item of done; track item) {
                  <div class="example-box" cdkDrag>
                    <div class="priority-circle" [style.background-color]="getPriorityColor(item.priority)"></div>
                    <p class="text-task">{{item.title}}</p>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
