<form [formGroup]="updatePriorityForm" (ngSubmit)="save()">

    <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
            <mat-option *ngFor="let priority of priorities" [value]="priority">{{ priority }}</mat-option>
        </mat-select>
        </mat-form-field>

        <div class="dialog-buttons">
        <button mat-button type="button" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
</form>