.card-body1 {
    height: 300px; 
  }


.example-full-width {
  display: none;
}


.demo-inline-calendar-card {
  width: 200px;
}

.disabled-date {
  pointer-events: none;
}


.example-form-field {
  margin-right: 20px;
}

.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}