.card-body1 {
    height: 300px; 
  }


.example-full-width {
  display: none;
}


.demo-inline-calendar-card {
  width: 200px;
}

.disabled-date {
  pointer-events: none;
}


.example-form-field {
  margin-right: 20px;
}